.bg-custom{
    background: #264653;
}
.grayscale {
    filter: grayscale(100%);
  }
.color{
    color: #E76F51;
}
.bg-img{
    background-image: url(../img/glass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.glass{
	backdrop-filter: blur(15px);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 1rem;
}