/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* common css */

*{
    font-family: 'Poppins', sans-serif;
}

/* custom css */

.bg-custom{
    background: #264653;
}
.grayscale {
    filter: grayscale(100%);
  }
.color{
    color: #E76F51;
}
.bg-color{
    background-color: #E76F51;
}
.name{
    color: #23A6F0;
    text-decoration: none;
}
.bg-img{
    background-image: url(../img/glass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.glass{
	backdrop-filter: blur(15px);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 1rem;
}